:root {
    --main-color: #021526;
    --second-color: #ccc;
    --back-color: #5354cE;
    --text-color: #03346E;
}

body {
    background-color: var(--main-color);
    color: var(--text-color);
    margin: 0px;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: var(--second-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0px;
    box-shadow: 0 0 20px 10px var(--back-color);
    position: sticky;
    top: 0px;
}

header a {
    font-size: 1.4em;
    color: var(--back-color);
    text-decoration: none;
    margin: 0px 2em;
}

header h1 {
    margin-left: 1em;
    font-size: 1.4em;
    font-weight: 100;
    text-decoration: underline;
}

#logoPage {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 1em;
    border-radius: 50px;
}

.productsSelection a img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

main {
    display: flex;
}

.section1, .section2 {
    height: 100dvh;
    min-width: 75dvw;
    max-width: 79dvw;
}

.section1 {
    color: var(--second-color);
    align-content: center;
    margin-left: 2em;
}
